{% extends "base_admin.html" %} {% block content %}
<div class="row">
	{% for object in object_list %}
	<div class="col-md-6">
		<div class="tile">
			<div class="tile-title-w-btn">
				<h3 class="title">{{ object.first_name|title }} {{ object.last_name|title  }}</h3>
				<div class="btn-group">
					<a class="btn btn-primary" href="{% url 'persons:update_person' pk=object.pk %}">
						<i class="fa fa-lg fa-edit"></i>
					</a>
					<a class="btn btn-primary" href="{% url 'persons:delete_person' pk=object.pk %}">
						<i class="fa fa-lg fa-trash"></i>
					</a>
				</div>
			</div>
			<div class="tile-body">
				<b> {{ object.get_gender_display }} </b>
				<br> {{ object.comment }}
			</div>
		</div>
	</div>
	{% empty %}
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-12">
				<div class="bs-component">
					<div class="alert alert-dismissible alert-info">
						<button class="close" type="button" data-dismiss="alert">×</button>
						<strong>Heads up!</strong> This
						<a class="alert-link" href="#">alert needs your attention</a>, but it's not super important.
					</div>
				</div>
			</div>
			<div class="col-12">
				<a class="btn btn-primary btn-lg" href="{% url 'persons:create_person' %}">New person</a>
			</div>
		</div>
	</div>
	{% endfor %}
</div>
{% endblock content %}
